.blocks-page {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;

    /* might change */
    display: flex;
}

.blocks-page-header {
    display: flex;
    align-items: center;
    height: 100px;
}

.blocks-page-header input {
    width: 70%;
    box-sizing: border-box;
    padding: 5px;
    height: 60px;
    font-size: 30px;
}

.blocks-page-header input:focus {
    outline: none;
}

.toolbox-list {
    overflow: auto;
}

.block-saved-list {
    /* height: calc(100vh - 200px); */
    
}

.block-trash {
    height: 40px;
    overflow: hidden;
}

.block-trash:hover {
    background: greenyellow;
}