.calendar-days {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 80px);
}

.calendar-cell {
    box-sizing: border-box;
    width: calc(100% / 7);
    border: .01em solid slategrey;
    height: calc(65vh / 5);
    text-decoration: none;
    color: black;
    border-bottom: none;
    border-right: none;
    transition: .5s ease-in-out;
}

.calendar-cell:hover {
    background: paleturquoise;
}