.calendar-days {
    display: flex;
    flex-wrap: wrap;
}

.calendar-days a {
    box-sizing: border-box;
    width: calc(100% / 7);
    border: .01em solid slategrey;
    height: calc(65vh / 5);
    text-decoration: none;
    color: black;

}