.entry-card {
    background: #DDF8E8;
    padding: 15px;
    width: 280px;
    margin: 10px auto;
    height: 280px;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
}

.entry-card-header {
    display: flex;
    align-items: flex-end;
}

.entry-card-header h3 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 5px;
}

.entry-card-body {
    padding: 15px;
}

.highlight-baby {
    background: greenyellow;
    color: blueviolet;
}

.entry-bookmark {
    position: absolute;
    top: -3px;
    right: 20px;
    font-size: 30px;
}

.entry-bookmark svg {
    color: black;
    transition: .8s ease-out;
}

.entry-bookmark svg:hover {
    color: white;
}