.new-user {
    height: 100vh;
    overflow: hidden;
}

.new-user nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.new-user-links {
    display: flex;
    font-size: 18px;
}

.new-user-links a {
    padding: 0 20px;
}

