

nav a {
    font-size: 20px;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    margin: 10px 0;
}

.hidden {
    display: none !important;
}

.user main {
    height: 100vh;
    width: calc(100% - 200px);
    float: right;
    overflow: scroll;
}