.entry-date {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 250px;
}

.entry-date-number {
    font-size: 45px;
    font-weight: 700;
    color: #63CCCA;
    padding-right: 5px;
}

.entry-date-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 3px;
    left: 5px;
}

.entry-date-day {
    color: darkslategrey;
    font-weight: 300;
}

.entry-date-month {
    font-weight: 600;
}